*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/runConfigurations/app.xml
/.idea/misc.xml
/.idea/modules.xml
.idea/assetWizardSettings.xml